<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Custom suite" verbose="1" thread-count="2" parallel="tests" configfailurepolicy="continue">
    <listeners>
        <listener class-name="com.cucumber.testng.examples.TestNGExecutionListener"></listener>
    </listeners>
   
    <!-- <test name="Cucumber OM Test Firefox" annotations="JDK" preserve-order="true">
     <parameter name="browser" value="chrome"/> 
        <classes>
            <class name="com.cucumber.testng.examples.RunCukesByCompositionGrp1_Test3"/>
            <class name="com.cucumber.testng.examples.RunCukesByCompositionGrp1_Test4"/>
            <class name="com.cucumber.testng.examples.BaseStepDefs"/>
        </classes>
     </test> -->
          <test name="Cucumber OM Test chrome" annotations="JDK" preserve-order="true">
      <!-- <parameter name="browser" value="firefox"/> -->
        <classes>
            <class name="com.cucumber.testng.examples.RunCukesByCompositionGrp1_Test4"/>
           <!--  <class name="com.cucumber.testng.examples.RunCukesByCompositionGrp1_Test4"/> -->
            <class name="com.cucumber.testng.examples.BaseStepDefs"/>
        </classes>
      </test>
         <!-- <test name="Cucumber OM Test IE" annotations="JDK" preserve-order="true">
      <parameter name="browser" value="IE"/>
        <classes>
            <class name="com.cucumber.testng.examples.RunCukesByCompositionGrp1_Test3"/>
            <class name="com.cucumber.testng.examples.RunCukesByCompositionGrp1_Test4"/>
            <class name="com.cucumber.testng.examples.BaseStepDefs"/>
        </classes>
    </test>  -->
</suite>